@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Modak&display=swap');
  
:root {
    --forest: #344036;
    --sand: #F2E0CF;
    --black: #030302;
    --blue: #91A3E0;
    --yellow: #DFDD51;
    --salmon: #BE545D;
    
    --dun: #CCB8ABff;
    --battleship-gray: #95907Eff;
    --khaki: #ABA799ff;
    --smoky-black: #171411ff;
    --caf-noir: #573723ff;
  }

  html, 
  body {
      height: 100%;
  }
body{
    color: var(--black);
    background-color: var(--sand);
    font-family: "fira sans", sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    font-size: 10vh;
    margin-bottom: 0px;
    margin-top: 10vh;;
    padding: 0;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
h1{
    font-family: "fira sans", sans-serif;
    margin: 0px;
    padding: 0;
}

.intro{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin-bottom: 2%;
}
footer p{
    font-family: "fira sans", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    margin: 0px;
    margin-bottom: 2%;
    padding: 0;
    color: var(--forest);
}
p{
    font-family: "fira sans", sans-serif;
    font-size: 5vw;
    text-align: left;
    font-weight: 100;
    margin: 0vw 10vw 2vw 10vw;
    padding: 0;
    line-height: 1.5;
}



span{
    font-family: modak, sans-serif;
    font-size: 100%;
    margin: 0px;
    padding: 0;
    color: var(--salmon);
}

nav{
    font-family: "modak", sans-serif;
    font-size: 3vh;
    text-align: right;
    margin: 30px;
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
a{
    text-decoration: none;
    color: var(--blue);
    margin: 0px 30px 0px 30px;
    padding: 0;
}
.right{
    display: flex;

}

.container{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

.current{
    font-family: "fira sans", sans-serif;
    text-align: center;
}

/* for projects page */

.project-container{
    display: flex;
    margin: 5vh;
    display: flex;
    align-items: center;
}
.project-description{
    width: 40%;
    font-size: 3vh;
    margin: 5%;
}

.project-description h2{
    font-family: "modak", sans-serif;
    font-size: 4vh;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--salmon);
    margin: 0;
}
.project-description ul li{
    font-family:  "fira sans", sans-serif;
    font-size: 2vh;
    color: var(--black);
    margin: 0;
    font-weight: 300;
    
}
.project-description ul{
    padding-left: 0%;
}
.project-description span{
    font-family: "fira sans", sans-serif;
    font-weight: 600;
    color: var(--black);
}
.project-description p{
    font-size: 2vh;
    margin: 0;
    font-weight: 300;
}
/* Slideshow container */
.gallery{
  max-width: 1000px;
  position: relative;
  margin: 5%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--salmon);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--black);
  color: var(--sand);
}

/* photo captions text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots{
    display: flex;
    justify-content: center;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}